In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
train = pd.read_csv('/content/trainKNN.txt')

In [ ]:
train.head()

   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0  2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0.0    0.00    1
1  3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0.0    0.00    1
2  4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0.0    0.00    1
3  5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0.0    0.00    1
4  6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0.0    0.26    1

In [ ]:
test = pd.read_csv('/content/testKNN.txt')

In [ ]:
test.head()

    68  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.00  0.17  1
0   69  1.52152  13.12  3.58  0.90  72.20  0.23   9.82   0.0  0.16  1
1   70  1.52300  13.31  3.58  0.82  71.99  0.12  10.17   0.0  0.03  1
2  144  1.51709  13.00  3.47  1.79  72.72  0.66   8.18   0.0  0.00  2
3  145  1.51660  12.99  3.18  1.23  72.97  0.58   8.81   0.0  0.24  2
4  146  1.51839  12.85  3.67  1.24  72.57  0.62   8.68   0.0  0.35  2

In [ ]:
train.columns = ['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type of glass']
train.head()

   ID       RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  Type of glass
0   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00              1
1   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00              1
2   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00              1
3   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00              1
4   6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26              1

In [ ]:
train = train.drop('ID',axis=1)
train.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  Type of glass
0  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00              1
1  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00              1
2  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00              1
3  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00              1
4  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26              1

In [ ]:
test.columns = ['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type of glass']
test = test.drop('ID',axis=1)
test.head()

        RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  Type of glass
0  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16              1
1  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03              1
2  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.0  0.00              2
3  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.0  0.24              2
4  1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.0  0.35              2

In [ ]:
train.isna().sum()

RI               0
Na               0
Mg               0
Al               0
Si               0
K                0
Ca               0
Ba               0
Fe               0
Type of glass    0
dtype: int64

In [ ]:
test.isna().sum()

RI               0
Na               0
Mg               0
Al               0
Si               0
K                0
Ca               0
Ba               0
Fe               0
Type of glass    0
dtype: int64

In [ ]:
x_train = train.drop(["Type of glass"], axis=1)
y_train = train["Type of glass"]

In [ ]:
x_test = test.drop("Type of glass", axis=1) 
y_test = test["Type of glass"]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier_man = KNeighborsClassifier(n_neighbors = 8,metric='manhattan')
classifier_man.fit(x_train, y_train)

KNeighborsClassifier(metric='manhattan', n_neighbors=8)

In [ ]:
classifier_euc= KNeighborsClassifier(n_neighbors = 8,metric='euclidean')
classifier_euc.fit(x_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=8)

In [ ]:
manhattan_predictions = classifier_man.predict(x_test)

In [ ]:
euclid_predictions = classifier_euc.predict(x_test)

In [ ]:
df = pd.DataFrame({'actual': y_test, 'manhattan': manhattan_predictions, 'euclid': euclid_predictions})
df

    actual  manhattan  euclid
0        1          1       1
1        1          1       1
2        2          2       2
3        2          1       1
4        2          2       2
5        3          1       2
6        3          1       2
7        3          1       2
8        5          2       5
9        5          2       2
10       5          2       2
11       6          6       6
12       6          2       6
13       6          7       7
14       7          7       7
15       7          7       7
16       7          7       7

In [ ]:
from sklearn.metrics import *
acc=accuracy_score(y_test,manhattan_predictions)
print(acc)

0.6470588235294118

In [ ]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,euclid_predictions)
print(acc)

0.5882352941176471

In [ ]:
from sklearn.model_selection import cross_val_score
for k in [1,2,3,4,5,6,7,8,9,10,20,40,80]:
  clf = KNeighborsClassifier(n_neighbors=k)
  clf.fit(x_train,y_train)
  print("K value : ", k, " train score : ", clf.score(x_train,y_train) , " test score : ", cross_val_score(clf,x_test,y_test,cv = 10, scoring = 'accuracy').mean())

ValueError: ignored

In [ ]:
for k in [1,2,3,4,5,6,7,8,9,10,20,40,80]:
  classifier_man = KNeighborsClassifier(n_neighbors = k,metric='manhattan')
  classifier_man.fit(x_train, y_train)
  manhattan_predictions = classifier_man.predict(x_test)
  acc=accuracy_score(y_test,manhattan_predictions)
  print(k,acc)

1 0.6470588235294118
2 0.4117647058823529
3 0.5882352941176471
4 0.47058823529411764
5 0.5294117647058824
6 0.47058823529411764
7 0.47058823529411764
8 0.47058823529411764
9 0.47058823529411764
10 0.47058823529411764
20 0.35294117647058826
40 0.35294117647058826
80 0.17647058823529413

In [ ]:
for k in [1,2,3,4,5,6,7,8,9,10,20,40,80]:
  classifier_euc= KNeighborsClassifier(n_neighbors = 8,metric='euclidean')
  classifier_euc.fit(x_train, y_train)
  euclid_predictions = classifier_euc.predict(x_test)
  acc=accuracy_score(y_test,euclid_predictions)
  print(k,acc)

1 0.5882352941176471
2 0.5882352941176471
3 0.5882352941176471
4 0.5882352941176471
5 0.5882352941176471
6 0.5882352941176471
7 0.5882352941176471
8 0.5882352941176471
9 0.5882352941176471
10 0.5882352941176471
20 0.5882352941176471
40 0.5882352941176471
80 0.5882352941176471